#nomination-container {
  width: 100vh;
}
#nomination-container {
  height: 55vh;
  overflow-y: hidden;
}
#nomination-container-list {
    max-height: 35vh;
    overflow-y: auto;
  }
#nomination-card {
  width: 100%;
}
