#nomination-container {
  width: 100vh;
}
#nomination-container {
  min-height: 20vh;
  max-height: 55vh;
  overflow-y: hidden;
}
#nomination-container-list {
    max-height: 45vh;
    overflow-y: auto;
  }
#nomination-card {
  width: 100%;
}
